<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pskj.wxx.logging.mapper.LoggingMapper" >

	<insert id="addLogging" parameterType="com.pskj.wxx.logging.beans.SysLog">
		insert into t_logging (operation,handler,createDate,modelName) values (#{operation},#{handler},#{createDate},#{modelName})
	</insert>
	
	<select id="findLoggingList" resultType="com.pskj.wxx.logging.beans.SysLog">
		select * from t_logging
	</select>

</mapper>